@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Work+Sans:wght@300&display=swap');

* {margin: 0;
    padding:0;
    border:none;

}
body {font-family: Castoro, sans-serif;
       font-weight: 300;
       color: #52494a;
       scroll-behavior: smooth;
       overflow-y: scroll;
}

#background_image{height: 100%;
    width: 100%;
    background-color: black;

}

/*headings */
.headback {height: 70px;
            width: 100%;
            background-color: #555;
            
            
}

h1 h2 {
    font-family:Work Sans, sans-serif; 
    color: black;
}

#kname {
    float:left;
    margin-left: 30px;
    
    text-transform: uppercase;
    color: black;
}

#menus {
    font-size: 110%;
    letter-spacing: 3px;
    
    
}

#menus, #kname {line-height: 70px;}

#menus li  {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
    
}

#menus a {text-decoration: none;
    color: blue;

}
hr {border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;}

/*kinder kids image */



.kinder_kids{height: 200px;
        width: 400px;
        border-radius: 50%;
        margin: 2rem 0;
        background-color: red;
        display: inline-block;
        padding-top: 50px;
        
        
}


#kdleft{
        background-color:rgba(34, 128, 76, 0.6);
        left: 60px;
        bottom: -20px;;
        position: relative;
} 


#kdright{background-color:gray;
    right: 60px;
    bottom: -20px;
    position: relative;

}
#kdcenter{position: relative;
            z-index:2;} 

#ethosarea1{position: relative;
            width: 33%;}

#ethosarea{color: black;
                padding-left: 5px;
                
                }
            

#rightimagecontainer{width: 500px;
                    height: 500px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: aquamarine;
                    
                    float:calc(left); }

/*#rightimage{background: url(../images/image_5.jpg) no-repeat center center; 
            height: 100vh;
            width: 100px;
            float: right;
            }*/
            

.kdleft{float: left;}

.kdright{float: right;}

.centertx{text-align: center;
        color: azure;
}

.centertx > h2 {font-weight: bold;}

.ethos{}



footer {
	background-color: #555;
	text-align: center;
    padding: 2em;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 1;}

footer > span {color: black;}
footer > p {color: black;}


          
      
