@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Work+Sans:wght@300&display=swap');

* {margin: 0;
    padding:0;
    border:none;

}
body {font-family: Castoro, sans-serif;
       font-weight: 300;
       color: #52494a;
       scroll-behavior: smooth;
       overflow-y: scroll;
}

#background_image{height: 100%;
    width: 100%;
    background-color: black;

}

/*headings */
.headback {height: 70px;
            width: 100%;
            background-color: #555;
            
            
}

h1 h2 {
    font-family:Work Sans, sans-serif; 
    color: black;
}

#kname {
    float:left;
    margin-left: 30px;
    
    text-transform: uppercase;
    color: black;
}

#menus {
    font-size: 110%;
    letter-spacing: 3px;
    
    
}

#menus, #kname {line-height: 70px;}

#menus li  {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
    
}

#menus a {text-decoration: none;
    color: black;

}
#menus a:hover{color: rgba(0, 40, 128, 0.6);
                font-size: 110%;}


hr {border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;}

/*kinder kids image */



.kinder_kids{height: 200px;
        width: 400px;
        border-radius: 50%;
        margin: 2rem 0;
        background-color: red;
        display: inline-block;
        padding-top: 50px;
        
        
}


#kdleft{
        background-color:rgba(34, 128, 76, 0.6);
        left: 60px;
        bottom: -20px;;
        position: relative;
} 


#kdright{background-color:rgba(128, 128, 128, 0.6);
    right: 60px;
    bottom: -20px;
    position: relative;

}
#kdcenter{position: relative;
          background-color: rgba(128, 10, 10, 0.6);
            z-index:2;} 

#ethosarea1{margin-top: 20px;
            height:auto;
            width: fit-content;
            border: 1px solid aqua;
            background-color: rgba(0, 40, 128, 0.6);
        }

#ethosarea{color: black;
                padding-left: 5px;
                position: relative;
                width: 50%; 
                text-align: center;
                margin:20px 0 30px 0;
                padding-left: 18rem;           
}
            

.kdleft{float: left;
}

.kdright{float: right;
}

.centertx{text-align: center;
        color: azure;
        
}

.centertx > h2 {font-weight: bold;}

#frontpageimage{background: url(../images/image_6.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    clear: left;
    height: 850px;
}

/*About famfik*/
.history > p{color:blanchedalmond;
             width: 50%;
             letter-spacing: normal;
             word-spacing: normal;
                
}

/*register section*/



.register-section{background: url(../images/Image_7.jpg);
                    background-size: cover;
                     background-position: center;
                     position: relative;
                     clear: left;
                    height: 900px;}

.register-form{margin: 150px 35% 2 2;
                background-color: rgba(45, 34, 128, 0.6);
                color: black;
                position: relative;
                left: 25%;
                padding: 32px;
                max-width: 300px;
                border-bottom: 33%;
                display: block;
             
            }
.input{display: block;
        width: 90%;
         background: transparent;
         margin: 4px 0 15px 0;
         border: 1.5px solid white;
         border-radius: 5px;
         height: 20px;

        }
#register-button{margin-top: 10px 0 10px 0;
                 background-color: aqua;
                 width: 45%;
                 font-size: 90%;
                 text-align: center;
                 text-transform: uppercase;
                 padding: 10px 0 22px 0;
                 border-color: black;
                 display: block;
}

#genders{background: black;
            border: 1px dashed white;
}

/* About famfik*/

#aboutbackground{background: url(../images/image_4.jpg);
    background-size: cover;
     background-position: center;
     position: relative;
     clear: left;
    height: 900px;}


footer {
	background-color: #555;
	text-align: center;
    padding: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 1;}

footer > span {color: black;}
footer > p {color: black;}


          
      
