@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Work+Sans:wght@300&display=swap');

* {margin: 0;
    padding:0;
    border:none;

}
body {font-family: Castoro, sans-serif;
       font-weight: 300;
       color: #52494a;
       scroll-behavior: smooth;
       overflow-y: scroll;
}

#background_image{height: 100%;
    width: 100%;
    background-color: black;

}

/*headings */
.headback {height: 70px;
            width: 100%;
            background-color: #7d8e95;
            position: relative;
            
            
}

h1 h2 {
    font-family:Work Sans, sans-serif; 
    color: black;
}

#kname {
    float:left;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

#menus {
    font-size: 100%;
    letter-spacing: 3px;
    
    
}

#menus, #kname {line-height: 70px;}

#menus li  {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
    
}
.menu{margin-top: -70px;}

#menus a {text-decoration: none;
    color: black;

}
#menus a:hover{color: rgba(0, 40, 128, 0.6);
                font-size: 110%;}


/*hr {border-top: 1px solid #3a3a3a;
    background-color: inherit;
    width: 100%;
    margin: 5px 0;}*/

/*kinder kids area */



.kinder_kids{height: 200px;
        width: 400px;
        border-radius: 50%;
        margin: 2rem 0;
        background-color: red;
        display: inline-block;
        padding-top: 50px;      
}

#kdleft{
        background-color:rgba(34, 128, 76, 0.6);
        left: 60px;
        bottom: -20px;
        position: relative;
        display: inline-block;
} 


#kdright{background-color:rgba(128, 128, 128, 0.6);
    right: 60px;
    bottom: -20px;
    position: relative;
    display: inline-block;

}
#kdcenter{position: relative;
          background-color: rgba(128, 10, 10, 0.6);
            z-index:2;
            display: inline-block;} 

#catchmessage1{margin-top: 20px;
            height:auto;
            width: fit-content;
            border: 1px solid aqua;
            background-color: rgba(0, 40, 128, 0.6);
        }

#catchmessage{color: black;
                position: relative;
                width: 50%; 
                text-align: center;
                margin:20px 0 30px 0;
                padding-left: 18rem;           
}
            

.kdleft{float: left;
}

.kdright{float: right;
}

.centertx{text-align: center;
        color: azure;
        
}

.centertx > h2 {font-weight: bold;}

#frontpageimage{background: url(../images/image_8.jpg) center center no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    clear: left;
    height: 850px;
}

/*register section*/



.register-section{background: url(../images/Image_7.jpg);
                    background-size: cover;
                     background-position:center ;
                     position: relative;
                     clear: right;
                    height: 900px;}

.register-form{margin: 40px 35px 2px 2px;
                background-color: rgba(45, 34, 90, 0.6);
                color: black;
                position: relative;
                left: 25%;
                padding: 32px;
                max-width: 300px;
                border-bottom: 33px;
                display: block;
             
            }
.input{display: block;
        width: 90%;
         background: transparent;
         margin: 4px 0 15px 0;
         border: 1.5px solid white;
         border-radius: 5px;
         height: 20px;

}
#mgender{font-size: 5rem;
            font-weight: bold;
            line-height: 1.0;
            width: 0.2em;
            height: 0.2em;
}
#fgender{font-size: 5rem;
    font-weight: bold;
    line-height: 1.0;
    width: 0.2em;
    height: 0.2em;

}

#register-button{margin: 10px 0 10px 0;
                 background-color: aqua;
                 width: 45%;
                 font-size: 90%;
                 text-align: center;
                 text-transform: capitalize;
                 padding: 10px 0 32px 0;
                 border-color: black;
                 display: block;
}
#register-button:hover {font-size: 120%;}

#genders{background: black;
            border: 1px dashed white;
}

/* About famfik*/

#aboutbackground{
    background: url(../images/image_4.jpg);
    background-size: cover;
     background-position: center;
     position: relative;
     clear: left;
    height: 930px;
}
.history{margin-top: 25px;}

.history > p{color:#fae6b1;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 1px;
    
}
.about_us{color: black;
          letter-spacing: 1px;
          margin: 5px 0 0 15px;
}


footer {
	background-color: #7d8e95;
	text-align: center;
    padding: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 1;}
/*input [type ="checkbox"] {display: none;
position:fixed;}*/

footer > span {color: black;
                letter-spacing: 2px;}
footer > p {color: black;
            letter-spacing: 2px}
footer > a:hover {font-size: 130%;}
footer > a {color: blue;}

/* Contact information*/
#x {display:inline-block;}
.contactus {
    color: black;
    margin-left: 10px;
    position: relative;
}
#directorcontact{color: black;
  margin-left: 10px;
  padding-top: 200px;
  position: relative;
  display: block;
  

}

fieldset{display: block;
  margin-left: 10px;
    color: black;
    height: auto;
    position: relative;
    
}

.icon_container{height: 50px;
  width: 50px;
  background-color: rgba(0, 40, 128, 0.6);
  border-radius: 50%; 
  margin-left: 40px; 
}
i{margin: 15px 0 0 20px ;
  height: 100%;


}
.input{width: 50%;
    background: #EDEDED;
    margin: 4px 0 15px 0;
    border: 1.5px solid white;
    border-radius: 5px;
    height: 20px;
    
}
#send-button{margin: 10px 0 10px 0;
  background-color: red;
  width: 20%;
  font-size: 90%;
  text-align: center;
  padding: 10px 0 32px 0;
  border-color: black;
  display: block;}


#yourmessage{background-color: #EDEDED;
              width: 50%;
}





/*media queries 1200px*/
@media only screen and (max-width: 1200px) {
#kname {
        float:left;
        margin-left: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: black;
}
.headback {height: 70px;
    width: 100%;
    background-color: #555;
    position: relative;  
}
#menus, #kname {line-height: 70px;}
#menus li  {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
.kinder_kids{height: 100px;
    width: 300px;
    border-radius: 50%;
    margin: 2rem 0;
    background-color: red;
    display: inline-block;
    padding-top: 50px;
}

#kdleft{
    
    left: 60px;
    bottom: -20px;
    position: relative;
    display: inline-block;
} 


#kdright{
right: 60px;
bottom: -20px;
position: relative;
display: inline-block;

}
#kdcenter{position: relative;
        z-index:1;
        display: inline-block;
}

.kinder_kids > h2{margin-top: -30px;

}

/* Contact information*/
.contactus {
  color: black;
  margin-left: 10px;
}
fieldset{display: block;
  float: right;
  color: black;
  height: auto;
  margin-top: -220px;

}


.input{width: 50%;
  background: #EDEDED;
  margin: 4px 0 15px 0;
  border: 1.5px solid white;
  border-radius: 5px;
  height: 20px;
  
}
#send-button{margin: 10px 0 10px 0;
background-color: red;
width: 20%;
font-size: 90%;
text-align: center;
padding: 10px 0 32px 0;
border-color: black;
display: block;}

#x {display: inline;}
#yourmessage{background-color: #EDEDED;
            width: 50%;
}
    
}


/*media queries 950px*/
@media only screen and (max-width: 950px) {
#kname{margin-left: 65px;
        letter-spacing:1px ;
}

#menus{ 
    clear: left;
    float: left;
    line-height: 20px;
    margin-left: 55px; 
    margin-bottom: 15px;
    
}
.headback{height: 100px;
    width: 100%;}

.kinder_kids{height: 100px;
        width: 300px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;  
}
.center{margin: 20px 0 0 95px;
}
.right{margin: -20px -200px 0 0;}

#catchmessage1{margin-top: 20px;
    height:600px;
    width: 100%;
    border: 1px solid aqua;
    background-color: rgba(0, 40, 128, 0.6);
}

#catchmessage{color: black;
    position: relative;
    width: 50%; 
    text-align: center;
    margin:20px 0 30px 0;
    padding-left: 10rem; 
}

#aboutbackground{height: 1290px;
}
.history {width: 100%;}

.register-form{margin: 40px 35px 2px 2px;
                left: 5%;
                padding: 32px;
                max-width: 300px;
                border-bottom: 33px;
                display: block;
}

.contactus {
  color: black;
  margin-left: 10px;
  display: block;
}

#contact_info{
  margin-left:10px;
  display: block;
  margin-top: 100px;
  
}
.input{width: 50%;
  background: #EDEDED;
  margin: 4px 0 15px 0;
  border: 1.5px solid white;
  border-radius: 5px;
  height: 20px;
  
}
#send-button{margin: 10px 0 10px 0;
background-color: red;
width: 20%;
font-size: 90%;
text-align: center;
padding: 10px 0 32px 0;
border-color: black;
display: block;}

#x {display: block;}
#yourmessage{background-color: #EDEDED;
            width: 50%;
            
}

}
/*media queries for 830px*/
@media screen and (max-width: 830px) {

#kname{margin-left: 25px;
        letter-spacing:0px ;
}

#menus{ 
    clear: left;
    float: left;
    line-height: 20px;
    margin-left: 25px; 
    margin-bottom: 5px;
    
}
.headback{height: 100px;
    width: 110%;}

.kinder_kids{height: 90px;
        width: 270px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        display: block;  
}

.center{margin: 20px 0 0 95px;
}
.right{margin: -23px -155px 0 0;}

#catchmessage1{margin-top: 20px;
    height:550px;
    width: 110%;
    border: 1px solid aqua;
    background-color: rgba(0, 40, 128, 0.6);
}

#catchmessage{color: black;
    position: relative;
    width: 60%; 
    text-align: center;
    margin:10px 0 30px 0;
    padding-left: 4rem; 
}


.history {width: 100%;}

.register-form{margin: 40px 35px 2px 2px;
                left: 5%;
                padding: 32px;
                max-width: 300px;
                border-bottom: 33px;
                display: block;
} 
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
.buttons-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #toggle:checked + .buttons-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #toggle:checked + .buttons-container .menu-button {
    background: #fff;
  }
  
  #toggle:checked + .buttons-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  /*media queries for 700px*/
  @media screen and (max-width: 700px) {
    .buttons-container {
      display: flex;
      
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 9;
    }
    #toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #fff;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
/*
#menu li  {
    float: right;
    list-style-type: none;
    margin-right: 5px;
   
}

#menu a:hover{color: rgba(0, 40, 128, 0.6);
                font-size: 105%;}*/

 #aboutbackground{height: 1500px;
}
.history {width: 100%;}

footer > span {color: black;
                letter-spacing: 0px;
}
footer > p {color: black;
            letter-spacing: 0px}
footer > a:hover {font-size: 105%;}
footer > a {color: blue;}  
}

#frontpageimage{height: 1200px;}

.contactus {
  color: black;
  margin-left: 10px;
  display: block;
}

fieldset{
  margin-left:10px;
  display: block;
  margin-top: 140px;
   
}
#directorcontact{margin-top: -110px;
                  position:relative;
}




.input{width: 50%;
  background: #EDEDED;
  margin: 4px 0 15px 0;
  border: 1.5px solid white;
  border-radius: 5px;
  height: 20px;
  
}
#send-button{margin: 10px 0 10px 0;
background-color: red;
width: 20%;
font-size: 90%;
text-align: center;
padding: 10px 0 32px 0;
border-color: black;
display: block;}

#x {display: block;}
#yourmessage{background-color: #EDEDED;
            width: 50%;
            
}
.history > p {
  color: #fae6b1;
  width: 70%;
  letter-spacing: 1px;
  word-spacing: 1px;
}



          
      
